* {
    margin: 0px;
    padding: 0;
}
.html{
  font-size: 62,5%;

}
body {
    min-height: 700px;
    height: auto;
    width: 100%;
    margin: 4% auto;
    background-image:url(../images/fondo22.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: calc(100vh - 8em);
    padding: 4em;
    color: rgba(8, 8, 8, 0.75);
    font-family: 'Anonymous Pro', monospace;  

      }

header{
    display: flex;
    justify-content: left;
    background-color: none;
    width:100%;
    position: fixed;
     z-index: 100;
}

header nav{
    text-align: right;
    display:inline-block;
    width: 100%;
}

header ul{
    display: inline-block;
    list-style-type: none;
    margin: 0.5em auto;
    
}

header ul li{
    display: inline-block;
}

header ul li a{
    text-decoration: none;
    border:none;
    border-color: #000000;
    border-radius: 50px;
    background-color: none;
    color: rgb(255, 255, 255);
    padding: 0.3em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

header ul li a:hover{
    background-color: #866c8f;
    border-color: #000000;
}

.container{
    margin: 15px;

}
.line-1{
    position: relative;
    top: 50%;  
    width: 30rem;
    margin: 0 auto;
    border-right: 2px solid rgba(0, 0, 0, 0.75);
    font-size: 180%;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
              blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter{
    from{width: 0;}
    to{width: 300px;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(0, 0, 0, 0.75);}
    to{border-right-color: transparent;}
  }

  .colInfoD{
    background-color:rgb(173, 137, 167);
    display: flow-root;
    border-radius: 100px;
        

  }
  .colInfoB{ 
    background-color:rgb(143, 108, 134);
    display: flow-root;
    border-radius: 100px;
        
}

    
.colInfoA{ 
        background-color:rgb(109, 91, 109);
        display: flow-root;
        border-radius: 100px;
        
}

.articulos p{
    display: block;

}

.aboutMe{
display: flex;

}

.colInfo p{
    font-weight: 150px;
    text-align: justify;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.colInfo h6{
    font: oblique;
    font-style:normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.containerArticle{
    margin-top: 5%;
}

.name{
    font-size:xx-large;    
}

.containerPortafolio{
  margin-top: 7%;
  font-weight: 100;

}
.loader {
    border: 15px solid #f3f3f3; 
    border-top: 15px solid #313233;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .pronto {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    font-size: 2rem;
    margin: 0 auto;
    font-family: "Courier New";
    border-right: 0.15em solid #0a0a0a;
    animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blink {
    20% {
      border-color: transparent;
    }
  }

  footer {
    display:block;
    margin-top: 7% ;
    margin-left: 0%;
    margin-right: 0%;
  }
  footer {
    text-align: center;
    padding: 3px;
    background-color: rgba(171, 193, 198, 0.87);
    color: rgb(0, 0, 0);
  }

  * { margin: 0; padding: 0; }
  
  
  h2 {
    display: inline;
    position: relative;
    font: 100px Helvetica, Sans-Serif;
    letter-spacing: -5px;
    color:rgb(109, 91, 109); 
  }
  
  h2:after {
    content: "Contact ";
    position: absolute; left: 10px; top: 5px;
    color: rgba(171, 193, 198, 0.87) 
  }

  .contactMail{
    margin-top: 3%;
  }

  .contactMail{
    border: #000000;
  }
  .formularioContact{
    background-color:rgba(171, 193, 198, 0.87) 
  }

  .mail{
    background-color:rgb(109, 91, 109); 
  }

  .socialMedia{
    margin-top: 4%;
    background-color:rgb(173, 137, 167); ;
  }

  .socialMediaP p{
    font-size: larger;
  }